---
import ThemeToggle from "./ThemeToggle.astro";
import { siteConfig } from "../config";
import Search from "./Search.astro";

const navItems = [
  {
    href: "/blog",
    text: "Blog",
    icon: '<svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z"/></svg>',
  },
  {
    href: "/tags",
    text: "Tags",
    icon: '<svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z"/></svg>',
  },
  {
    href: "/archive",
    text: "Archive",
    icon: '<svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"/></svg>',
  },
];
---

<header class="py-6">
  <nav class="flex justify-between items-center flex-wrap">
    <a href="/" class="text-2xl font-bold text-gray-900 dark:text-white"
      >{siteConfig.title}</a
    >
    <div class="flex items-center gap-6">
      <ul class="flex gap-6">
        {
          navItems.map(({ href, text, icon }) => (
            <li>
              <a
                href={href}
                class="flex items-center gap-1 text-gray-700 dark:text-gray-100 hover:text-gray-900 dark:hover:text-white"
              >
                {icon && <span set:html={icon} />}
                {text}
              </a>
            </li>
          ))
        }
      </ul>
      {siteConfig.search && <Search />}
      <ThemeToggle />
    </div>
  </nav>
</header>
